@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

body {
    background-color: #151515;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.loading {
    position: fixed;
    background-color: #060606;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading .lottie {
    height: 50vh;
    width: 50vw;
}


.max-width {
    max-width: 1500px;
    padding: 0 50px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    font-family: 'Poppins';
    transition: all 0.3s ease;
    z-index: 10;
    background-color: #080808;
}


.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
}

.navbar .logo .logo-img {
    height: 55px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.navbar .menu li a:hover {
    border-bottom: 3px solid #fff;
}

.navbar .menu li a.active {
    border-bottom: 3px solid #fff;
}

.navbar .menu li a:active {
    border-bottom: 3px solid #fff;
}

.menu-btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: white;
    min-height: 500px;
    font-family: 'Poppins';
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.home .max-width {
    width: 100%;
    margin: auto auto auto 100px;
}

.home .max-width .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("https://drive.google.com/uc?id=1OX1XFusgbzFd1sm5V0_rD6PSnH8TQM8Q") no-repeat center;
    background-size: cover;
    background-position: 100px;
    background-blend-mode: lighten;
    background-color: #080808;
    height: 100%;
    width: 100%;
}

.home .home-content .text {
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
}

.home .home-content .text-1 {
    font-size: 27px;
    margin-bottom: -20px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-right: -3px;
}

.home .home-content .text-2 span {
    color: rgba(125, 0, 255, 1);
}

.home .home-content .text-3 {
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    position: relative;
}

.home .home-content .text-3 span {
    display: inline-block;
    color: #fff;
}

.home .home-content .text-3 .anim1 {
    animation: charAnim1 infinite;
    animation-duration: 6s;
    animation-delay: calc(1s * var(--i));
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.home .home-content .text-3 .anim2 {
    animation: charAnim2 infinite;
    animation-duration: 6s;
    animation-delay: calc(1s * var(--i));
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.home .home-content .text-3 .text-3-1 {
    position: absolute;
}

.home .home-content .social-media {
    display: flex;
    margin-bottom: -7%;
}

.home .home-content .social-media a i {
    font-size: 30px;
    margin: auto 40px auto auto;
    color: #fff;
    transition: all 0.2s ease;
}

.home .home-content .social-media a i:hover {
    color: rgb(125, 0, 255);
}

.skills {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: white;
    min-height: 500px;
    font-family: 'Poppins';
}

.skills .max-width {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .skills-item {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px;
}

.skills .skills-item .item {
    background-color: #202020;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
}

.skills .skills-item .item:hover {
    background-color: #303030;
}

.skills .skills-item .item img {
    transform: scale(0.20);
    transition: all 0.1s ease-in;
}

.skills .skills-item .item:hover img {
    transform: scale(0.21);
}

.skills .skills-item .item div {
    position: relative;
    top: -82%;
}

.text-4 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.portfolio {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: white;
    min-height: 500px;
    font-family: 'Poppins';
    align-items: top;
    justify-content: center;
}

.portfolio .max-width {
    width: 100%;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio .max-width .filter {
    display: inline-block;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.portfolio .max-width .filter li {
    list-style: none;
    display: inline-block;
    width: 125px;
    margin: 30px 15px;
    padding: 3px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease;
}

.portfolio .max-width .filter li:hover {
    font-weight: 600;
}

.portfolio .max-width .filter li.active {
    font-weight: 600;
    background-color: rgb(125, 0, 255);
    border-color: rgb(125, 0, 255);
}

.portfolio .portfolio-item {
    max-width: 1280px;
    width: 1280px;
}

.portfolio .portfolio-item .item {
    height: 300px;
    width: 300px;
    margin: 10px 0;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    cursor: pointer;
    border-radius: 3px;
}

.portfolio .portfolio-item .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}


.portfolio .portfolio-item .item .itemOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    border-radius: 3px;
    transition: all 0.1s ease;
}

.portfolio .portfolio-item .item .itemOverlay .itemOverlayText {
    color: white;
    margin: 10px;
    text-align: center;
    display: flex;
}

.portfolio .portfolio-item .item:hover .itemOverlay {
    opacity: 100;
}

.project-details {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.project-content {
    background-color: #303030;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #151515;
    width: 75%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.project-content .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.project-content .head .title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
}

.project-content .content {
    display: flex;
    flex-direction: row;
}

.project-content .content .media {
    height: 100%;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
}

.project-content .content .media .owl-item {
    height: 400px;
    width: auto;
}

.project-content .content .media .item {
    height: 400px;
    width: auto;
    object-fit: contain;
}

.project-content .content .details {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.project-content .content .details .description {
    font-size: 18px;
    font-family: 'Poppins';
    text-align: justify;
    max-width: 100%;
}

.project-content .content .details a {
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Poppins';
    text-align: justify;
    font-weight: 600;
    max-width: 100%;
}

.project-content .content .details i {
    font-size: 30px;
}

.project-content .content .details i:hover {
    color: rgb(125, 0, 255);
}

.project-content .head .close {
    color: #fff;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.project-content .head .close:hover,
.project-content .head .close:focus {
    color: #cccccc;
    text-decoration: none;
    cursor: pointer;
}

.owl-carousel .owl-stage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
}

.owl-nav {
    display: none;
}

.owl-dots {
    text-align: center;
}

.owl-theme .owl-dots .owl-dot {
    zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 10px 5px 0px 5px;
    background: whitesmoke;
    display: block;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(125, 0, 255);
}

.about {
    display: flex;
    height: 100vh;
    width: 100vw;
    color: white;
    min-height: 500px;
    font-family: 'Poppins';
}


.about .max-width {
    width: 100%;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .max-width .about-item {
    margin: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about .max-width .about-item .profile img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: 70% 100%;
    border-radius: 5px;
    position: relative;
    left: -20px;
    top: -20px;
    z-index: 1;
}

.about .max-width .about-item .profile div {
    height: 400px;
    width: 300px;
    background-color: #151515;
    border: 5px solid rgb(125, 0, 255);
    border-radius: 5px;
    position: absolute;
}

.about .max-width .about-item .details {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3% 0% 3% 5%;
    align-items: flex-start;
}

.about .max-width .about-item .details .name {
    font-size: 45px;
    font-weight: 500;
}

.about .max-width .about-item .details .detail {
    text-align: justify;
    font-size: 18px;
}

.about .max-width .about-item .details .contact {
    margin-top: 5%;
}

.contact a i {
    color: white;
    font-size: 30px;
    margin: auto 40px auto auto;
    transition: all 0.2s ease;
}

.contact a i:hover {
    color: rgb(125, 0, 255);
}

@keyframes charAnim1 {

    0%,
    60%,
    100% {
        opacity: 0;
        transform: translateY(50px)
    }

    10%,
    50% {
        opacity: 100;
        transform: translateY(0px)
    }
}

@keyframes charAnim2 {

    0%,
    60%,
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }

    10%,
    50% {
        opacity: 100;
        transform: translateY(0px);
    }
}



@media (max-width:320px) {}

@media (max-width:480px) and (min-width:320px) {
    .max-width {
        max-width: 400px;
        padding: 0 10px;
    }

    .navbar {
        width: 100vw;
        padding: 5px 0;
        background-color: #080808;
        position: fixed;
    }

    .navbar .max-width {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .logo {
        display: flex;
    }

    .navbar .logo .logo-img {
        height: 55px;
    }

    .navbar .menu {
        position: fixed;
        width: 82vw;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #303030;
        text-align: center;
        transition: all 0.3s ease-in-out;
        padding-top: 1%;
    }

    .navbar .menu.active {
        left: 0;
        box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);

    }

    .navbar .menu li {
        display: block;
        margin: 7px 7px;
        font-size: 25px;
    }

    .navbar .menu li a {
        background: #252525;
        display: inline-block;
        padding: 10px 0;
        border-radius: 3px;
        width: 100%;
    }

    .navbar .menu li a:hover {
        background: #272727;
        border-bottom: none;
    }
    
    .navbar .menu li a.active {
        border-bottom: none;
    }
    
    .navbar .menu li a:active {
        border-bottom: none;
    }

    .menu-btn {
        display: block;
        font-size: 25px;
        z-index: 10;
    }

    .menu-btn i{
        padding: 0px 10px;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .home{
        height: 100vh;
    }

    .home .max-width {
        width: 100%;
        margin: auto 25px auto 25px;
    }

    .home .max-width .bg {
        position: absolute;
        z-index: -1;
        background: url("https://drive.google.com/uc?id=1O8lxnl3_VaYU5JZbr8PuEHn9VEFjhKDC") no-repeat bottom right fixed;
        background-size: 45vh;
        background-color: #080808;
    }

    .home .home-content {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .home .home-content .text {
        margin-bottom: 0%;
        margin-top: 25%;
    }

    .home .home-content .text-1 {
        font-size: 20px;
    }

    .home .home-content .text-2 {
        font-size: 45px;
    }

    .home .home-content .text-3 {
        font-size: 25px;
    }

    .home .home-content .social-media {
        display: flex;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .home .home-content .social-media a i {
        font-size: 25px;
        margin: auto 30px auto auto;
    }

    .skills {
        height: fit-content;
    }

    .skills .max-width {
        margin: 10px;
    }

    .skills .skills-item {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .skills .skills-item .item {
        height: 160px;
        width: 160px;
    }


    .skills .skills-item .item img {
        transform: scale(0.15);
    }

    .skills .skills-item .item:hover img {
        transform: scale(0.16);
    }

    .skills .skills-item .item div {
        top: -115%;
        font-size: 15px;
    }

    .text-4 {
        margin-top: 25%;
    }

    .portfolio .max-width {
        margin: 10px;
    }

    .portfolio .max-width .filter {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .portfolio .max-width .filter li {
        width: 100px;
        margin: 10px 10px;
        padding: 3px 10px;
        border: 1.5px solid white;
        border-radius: 30px;
        transition: all 0.2s ease;
    }

    .portfolio .portfolio-item {
        max-width: 85vw;
        width: 85vw;
    }

    .portfolio .portfolio-item .item {
        height: 350px;
        width: 350px;
        margin: 20px 0;
        box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.15);
        position: relative;
        display: flex;
        cursor: pointer;
        border-radius: 3px;
    }

    .portfolio .portfolio-item .item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
    }

    .portfolio .portfolio-item .item .itemOverlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        opacity: 100;
        border-radius: 3px;
        transition: all 0.1s ease;
    }

    .portfolio .portfolio-item .item .itemOverlay .itemOverlayText {
        color: white;
        margin: 10px;
        text-align: center;
        display: flex;
    }
    
    .about .max-width {
        margin: 10px;
    }
    
    .about .max-width .about-item {
        margin: 40px 40px 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
   
    .about .max-width .about-item .profile{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about .max-width .about-item .profile img {
        height: 200px;
        width: 200px;
        object-position: 70% 100%;
    }
    
    .about .max-width .about-item .profile div {
        height: 200px;
        width: 200px;
        border: 3px solid rgb(125, 0, 255);
   }
    
    .about .max-width .about-item .details {
        width: 90%;
        margin: 5% 0% 3% 5%;
    }
    
    .about .max-width .about-item .details .name {
        font-weight: 600;
    }
    
    .about .max-width .about-item .details .detail {
        text-align: justify;
        font-size: 15px;
    }
    
    .about .max-width .about-item .details .contact {
        margin-top: 5%;
    }
    
    .contact a i {
        font-size: 25px;
        margin: 10px 30px 0px auto;
    }

}

@media (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
}